.site-profile{
     display: block;
     margin: auto;
}

.profile-left_column{
     float: left;
     width: 30%;
     padding-right: 20px;
}

.profile-right_column{
     float: left;
     width: 70%;
}

.profile-right_column-header{
     display: block;
     width: 100%;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     color: #000000;
     background: #E8E8E8;
}

.profile-right_column-content{
     margin-top: 10px;
     display: block;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 1px;
     padding-left: 10px;
     border-radius: 5px;
     color: #000000;
     /*background: #f7f7f7;*/
}

.userMenu {
     padding: 5px;
     width: 100%;
     font: 16px "Trebuchet MS", "Lucida Sans";
     text-shadow: 0 1px 0 rgba(255,255,255,.5);
     background: #E8E8E8;
     color: #000000;
     border-bottom: 1px solid;
}

.userMenu a {
     text-decoration: none;
     color: #000000;
}

.userMenu:hover{
     background: #d6d6d6;
}
