.site-profile{
     display: block;
     margin: auto;
}

.userMenu {
     width: 100%;
     color: rgb(157,157,157);
     text-decoration: none;
     user-select: none;
     background: #343434 /*rgb(212,75,56)*/;
     padding: .7em 1.5em;
     outline: none;
     border-bottom: 1px solid rgb(157,157,157);
     border-radius: 10px;
}
.userMenu:hover {
     color: #FFFFFF;
}
/*
.userMenu {
     padding: 5px;
     width: 100%;
     font: 16px "Trebuchet MS", "Lucida Sans";
     text-shadow: 0 1px 0 rgba(255,255,255,.5);
     background: #E8E8E8;
     color: #000000;
     border-bottom: 1px solid;
}

.userMenu a {
     text-decoration: none;
     color: #000000;
}

.userMenu:hover{
     background: #d6d6d6;
}
*/

.registerPage{
     width: 50%;
     padding: 15px;
     padding-left: 40px;
     padding-right: 40px;
     background: #FFFFFF;
     border-radius: 6px;
     border: 1px solid rgba(196,194,194,1);
     margin-left: 10px;
     margin: auto;
     text-align: left;
}

.searchPage{
     width: 60%;
     margin: auto;
}

.searchWrapper{
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
}

.searchLeftColumn{
     width: 30%;
     display: inline-block;
}

.searchMiddleColumn{
     width: 50%;
     display: inline-block;
     /*border-right: 1px solid rgb(157,157,157);
     border-left: 1px solid rgb(157,157,157);*/
     padding: 5px;
     vertical-align: top;
}

.searchRightColumn{
     display: inline-block;
     vertical-align: bottom;;
}

.searchUsername{
     width: 100%;
     text-align: center;
}

.myGridView{
     width: 100%;
}

.comments{
     margin: auto;
     width: 80%;
}

.commentsWrapper{
     margin: auto;
     margin-bottom: 10px;
     width: 90%;
}

.commentWrapper{
     margin: auto;
     margin-bottom: 10px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
}

.commentLeftColumn{
     width: 20%;
     display: inline-block;
}

.commentMiddleColumn{
     width: 68%;
     display: inline-block;
     /*border-right: 1px solid rgb(157,157,157);
     border-left: 1px solid rgb(157,157,157);*/
     padding: 5px;
     vertical-align: top;
}

.commentRightColumn{
     display: inline-block;
     vertical-align: bottom;
}

.postCreate{
     width: 70%;
     padding: 15px;
     padding-left: 40px;
     padding-right: 40px;
     background: #FFFFFF;
     border-radius: 6px;
     border: 1px solid rgba(196,194,194,1);
     margin-left: 10px;
     margin: auto;
}

.dialogWrapper{
     margin: auto;
     width: 100%;
}

.dialogLeftColumn{
     width: 20%;
     display: inline-block;
}

.dialogMiddleColumn{
     display: inline-block;
     text-align: center;
     width: 79%;
}

.dialogRightColumn{

     display: inline-block;
}

.newMessagesWrapper{
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
     text-align: center;
}

.sendForm{
     width: 100%;
     margin: auto;
}

.sendMessage{
     display: inline-block;
     width: 89%;
}

.sendButton{
     width: 10%;
     margin-top: 25px;
     height: 53px;
     display: inline-block;
     vertical-align: top;
     color: rgb(157,157,157);
     background: #343434;
}

.myMessageWrapper{
     width: 80%;
}

.otherMessageWrapper{
     margin-left: 20%;
     width: 80%;
}

.messageImage{
     float: left;
     display: inline-block;
     width: 10%;
     vertical-align: top;
}

.messageContent{
     display: inline-block;
     width: 90%;
     vertical-align: top;
}

.registerButton{
     width: 100%;
     margin: auto;
     text-align: center;
}

.editInfoBlock{
     width: 50%;
}

/*
     NEWS
*/

.newsWrapper{
     margin: auto;
     margin-bottom: 10px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
}

/*
     ADMIN
*/

.admin-login-wrapper{
     width: 50%;
     margin: auto;
     padding: 20px;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     background: #ededed;
}

.admin-login-input-wrapper{
     width: 70%;
     margin: auto;
}

/*
     PROFILE
*/

.profile-left_column{
     float: left;
     width: 16%;
     padding-right: 10px;
}

.profile-middle_column{
     float: left;
     width: 20%;
     padding: 10px;
     background: #FFFFFF;
     border-radius: 6px;
     border: 1px solid rgba(196,194,194,1);
}

.profile-right_column{
     width: 64%;
     float: left;
}

.profile-right_item{
     width: 100%;
     padding: 15px;
     background: #FFFFFF;
     border-radius: 6px;
     border: 1px solid rgba(196,194,194,1);
     margin-left: 10px;
}

.profile-right_item-username{
     float: left;
     width: 80%;
     font-size: 25px;
}

.profile-right_item-active{
     float: left;
     vertical-align: top;
     text-align: right;
     width: 20%;
     font-size: 15px;
     color: rgb(221,221,221);
}

.profile-right_item-info{
     float: left;
     width: 30%;
     font-size: 15px;
     color: rgba(196,194,194,1);
}

.profile-right_item-infovalue{
     float: left;
     width: 70%;
     font-size: 15px;
     vertical-align: top;
     margin-bottom: 5px;
}

.profile-right_column-header{
     width: 100%;
     color: #FFFFFF;
     text-decoration: none;
     user-select: none;
     background: #696969 /*rgb(212,75,56)*/;
     padding: .7em 1.5em;
     border-radius: 10px;
}

.profile-right_column-content{
     margin-top: 10px;
     display: block;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 1px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 5px;
     color: #000000;
     /*background: #f7f7f7;*/
}

/*
     BOOTSTRAP
*/

.btn-login {
     background-color:#696969;
     color:#FFFFFF;
     border-color:#292929;
}
.btn-login:hover, .btn-login:focus {
     background-color: #3b3b3b;
     color: #FFFFFF;
}
.btn-login:active {
     background-color: #3b3b3b;
     color: #FFFFFF;
}

.btn-profile-menu {
     margin-bottom: 1px;
     color: #000000;
     width: 100%;
     padding-left: 10px;
     text-align: left;
}

.btn-profile-menu:hover, .btn-profile-menu:focus {
     background: rgba(196,194,194,1);
     color: #000000;
}

.btn-profile-menu:active {
     background: rgba(196,194,194,1);
     color: #000000;
}

.btn-profile-menu-selected {
     margin-bottom: 3px;
     color: #000000;
     width: 100%;
     padding-left: 10px;
     text-align: left;
     background: rgb(221,221,221);
}

.btn-profile-menu-selected:hover, .btn-profile-menu-selected:focus {
     background: rgba(196,194,194,1);
     color: #000000;
}

.btn-profile-menu-selected:active {
     background: rgba(196,194,194,1);
     color: #000000;
}

.btn-content {
     background-color:#696969;
     color:#FFFFFF;
     border-color:#292929;
}
.btn-content:hover, .btn-content:focus {
     background-color: #3b3b3b;
     color: #FFFFFF;
}
.btn-content:active {
     background-color: #3b3b3b;
     color: #FFFFFF;
}


.btn-send {
     vertical-align: top;
     margin-top: 25px;
     background-color:#696969;
     color:#FFFFFF;
     border-color:#292929;
}

.btn-send:hover, .btn-send:focus {
     background-color: #3b3b3b;
     color: #FFFFFF;
}

.btn-send:active {
     background-color: #3b3b3b;
     color: #FFFFFF;
}
