.site-profile{
     display: block;
     margin: auto;
}

.profile-left_column{
     float: left;
     width: 25%;
     padding-right: 20px;
}

.profile-right_column{
     float: left;
     width: 75%;
}

.profile-right_column-header{
     width: 100%;
     color: #FFFFFF;
     text-decoration: none;
     user-select: none;
     background: #343434 /*rgb(212,75,56)*/;
     padding: .7em 1.5em;
     border-radius: 10px;
}

.profile-right_column-content{
     margin-top: 10px;
     display: block;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 1px;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 5px;
     color: #000000;
     /*background: #f7f7f7;*/
}

.userMenu {
     width: 100%;
     color: rgb(157,157,157);
     text-decoration: none;
     user-select: none;
     background: #343434 /*rgb(212,75,56)*/;
     padding: .7em 1.5em;
     outline: none;
     border-bottom: 1px solid rgb(157,157,157);
     border-radius: 10px;
}
.userMenu:hover {
     color: #FFFFFF;
}
/*
.userMenu {
     padding: 5px;
     width: 100%;
     font: 16px "Trebuchet MS", "Lucida Sans";
     text-shadow: 0 1px 0 rgba(255,255,255,.5);
     background: #E8E8E8;
     color: #000000;
     border-bottom: 1px solid;
}

.userMenu a {
     text-decoration: none;
     color: #000000;
}

.userMenu:hover{
     background: #d6d6d6;
}
*/

.searchPage{
     width: 60%;
     margin: auto;
}

.searchWrapper{
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
}

.searchLeftColumn{
     width: 30%;
     display: inline-block;
}

.searchMiddleColumn{
     width: 50%;
     display: inline-block;
     /*border-right: 1px solid rgb(157,157,157);
     border-left: 1px solid rgb(157,157,157);*/
     padding: 5px;
     vertical-align: top;
}

.searchRightColumn{
     display: inline-block;
     vertical-align: bottom;;
}

.searchUsername{
     width: 100%;
     text-align: center;
}

.myGridView{
     width: 100%;
}

.comments{
     margin: auto;
     width: 80%;
}

.commentWrapper{
     margin: auto;
     margin-bottom: 10px;
     width: 100%;
     border-bottom: 1px solid rgb(157,157,157);
     border-top: 1px solid rgb(157,157,157);
     border-radius: 10px;
     padding: 20px;
}

.postCreate{
     margin: auto;
     width: 70%;
}
